<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome" />
    <add key="URL" value="http://egy-vpd-inovio:82/" />
    <add key="ExcelPath" value="C:\\Users\\Syoussef\\Documents\\Visual Studio 2015\\Projects\\InovioPOC\\ExcelData.xlsx" />
  </appSettings>
</configuration>